.contenedor {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px 1fr 200px;
    grid-template-rows: 200px 100px 200px;
    /* 
        Darle el tamano de rows
    */
    grid-auto-rows: 100px;
    /* 
        Darle el tamano de columnas
    */
    grid-auto-columns: 100px;
    /* 
        Cambiar la forma en que se acomodan
        valores: row | column | dense
    */
    grid-auto-flow: dense;
}

.contenedor .span2 {
    grid-column: span 2;
    background: #ff8000;
}

.contenedor .span3 {
    grid-column: span 3;
    background: #575757;
}